/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

html,body {
    height: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: #120A37;

}

.container {
    max-width: 1280px;
    padding: 0 2%;
}

a {
    text-decoration: none;
}

/* xx RESET xx */



/* SECTION-HOME */
section.section-home{
    width: 100%;
    background-color: #120A37;
    color: white;
    position: relative;
}

section.section-home .btn-login{
    width: 100%;
    height: 60px;
    position: relative;
    cursor: pointer;
}

section.section-home .btn-login p{
    display: inline;
    position: absolute;
    top: 0;
    right: 0;
    margin: 13px 0;
    padding: 5px 39px;
    text-transform: uppercase;
    background-color: #6925D9;
    border-radius: 4px;
}


section.section-home .txt-home {
    padding: 20px 0 60px 60px;
    margin: 50px 0;
    position: relative;
    z-index: 2;
}
section.section-home .txt-home h2{
    color: white;
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
}
section.section-home .txt-home span{
    text-transform: uppercase;
    color: #6925D9;
    font-weight: bolder;
}


section.section-home .txt-home p{
    color: #ffffff;
    font-size: 16px;
    color: #faebd7;
    text-align: left;
    width: 300px;
}

.btn-view-more{
    margin: 50px 0;
}

section.section-home .btn-view-more a{
    color: white;
    text-align: center;
    text-transform: uppercase;
    background-color: #6925D9;
    border-radius: 4px;
    padding: 5px 25px;
}

.iphone{
    width: 22%;
    height: 450px;
    background-image: url("../images/Sem Título (5).png");
    background-size: contain ;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 20px;
    right: 200px;
    z-index: 2;
    text-align: center;
    line-height: 450px;
    color: red;
}

.background-number-one{
    width: 180px;
    height: 200px;
    background-image: url("../images/icon-01-home.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    bottom: -20px;
    left: 0;
    z-index: 0;
}

.background-elephant{
    width: 50%;
    height: 400px;
    background-image: url("../images/elephant-home.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 50px;
    right: 10px;
    opacity: 0.1;
    z-index: 0;
}

/* xx SECTION-HOME xx*/

/*  SECTION-MEMBERS */

section.section-members{
    height: 577px;
    background-color: white;
    position: relative;
}

section.section-members h2{
    color: #6925D9;
    text-align: center;
}


/*  NAV- AREA-LOGIN */
div.area-login{
    width: 100%;
    height: 100%;
    padding-top: 500px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    background: rgba(246, 246, 246, 0.6);
    display: none;
}

div.box-login{
    min-width: 600px;
    height: 500px;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 8px;
    box-shadow: 2px 2px 50px 10px rgba(93, 92, 92, 0.41);
}

div.box-login header{
    width: 100%;
    height: 30px;
    border-radius: 8px 8px 0 0;
    background: #6925D9;
    line-height: 30px;
    padding-left: 5px;
}

div.box-login header .bullets{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ffffff;
    display: inline-block;
    margin-left: 4px;
}

div.box-login form{
    padding: 0 13%;
    margin: 30px 0;
}

div.box-login h2{
    text-transform: uppercase;
    color: #6925D9;
    font-weight: bold;
    font-size: 40px;
    margin: 20px 0;
    text-align: center;
}

div.box-login span{
    color: rgba(93, 93, 93, 0.89);
    text-transform: uppercase;
    display: block;
    font-size: 20px;
    margin-top: 10px;
}

div.box-login form input[type="text"],input[type="password"]{
    width: 100%;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 6px;
    background: #ECECEC;
    outline: none;
    padding-left: 15px;
    font-size: 16px;
    margin: 7px 0;
}

div.box-login form input[type="checkbox"]{
    margin: 20px 10px 0 0;
    height: 20px;
    width: 20px;
    border: 10px solid #ECECEC;
}

div.box-login form label{
    color: rgba(59, 59, 59, 0.89);
    position: relative;
    top: -4px;
    font-size: 15px;
}

div.box-login form input[type="submit"]{
    position: relative;
    left: 125px;
    line-height: 40px;
    border: 4px solid #6925D9;
    color: #6925D9;
    border-radius: 6px;
    background: transparent;
    outline: none;
    padding: 0 40px;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 20px;
}

div.box-login form input[type="submit"]:hover{
   background: #6925D9;
    color: white;
}

div.btn-leave{
    font-size: 30px;
    color: #ffffff;
    position: absolute;
    top: -20px;
    right: 0;
    cursor: pointer;
    z-index: 4;
}



